@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Pacifico&family=Style+Script&display=swap');

body{
    background-color: bisque;
    text-align: center;
    font-family:'Noto Serif', serif;;
}

h1, h2{
    color: rgb(226, 43, 150);
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: rgb(43, 183, 226);
}

#my-avatar{
    width: 150px;
    border-radius: 50%;
}

#my-name {
    font-family: 'Pacifico', cursive;
}


