@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Pacifico&family=Style+Script&display=swap');

/* CSS reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100vh;
    width: 100vw;
    position: relative;
}
body{
    background-color: #F7CCAC;
    font-family:'Noto Serif', serif;;
    height: 100vh;
    width: 100vw;
}

h1, h2{
    color: #59C1BD;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: rgb(43, 183, 226);
}

#my-avatar{
    width: 150px;
    border-radius: 50%;
}

#content {
    text-align: center;
    height: 100%;
}

#my-name {
    font-family: 'Pacifico', cursive;
    color: #FF74B1;
}

#left-side {
     position: absolute;
     top: 16px;
     left: 16px;
}

#left-side > a {
    margin-right: 16px;
}

#right-side {
   position: absolute;
   top: 16px;
   right: 16px;
}
a {
    color: #0D4C92;
    text-decoration: none;
    border-bottom: 1px dotted;
}

footer{
    position: absolute;
    bottom: 16px;
    left:  50%;
    transform: translate(-50%);
  
}
footer a:first-child {
    margin-right: 16px;
}

#content div {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

